---
# Only the main Sass file needs front matter (the dashes are enough)
---

html, body {
  height: 100%;
}

@import 'bootstrap';
@import 'syntax-highlighting';


.navbar-brand {
	font-size: 30px;
	color: #4da6ff !important
}

nav a {
	padding-top: 20px !important;
    padding-bottom: 20px !important;
    -webkit-transition: color 0.31s;
    -moz-transition: color 0.31s;
    -ms-transition: color 0.31s;
    -o-transition: color 0.31s;
    transition: color 0.31s;
    font-size: 18px;
    font-family: Ubuntu;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

@media (min-width: 1000px) {
  .footer-distributed .footer {
    text-align: center;
  }
  .footer-distributed .footer {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer {
    line-height: 1.8;
  }
}

.footer-distributed {
  background-color: #292c2f;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 80px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

body {
  color: #ddd;
  background-color: #292929;
  padding-top: 80px;
}

ul.social-media {
  text-align: center;
  padding: 0 0 10px 0;
  li {
    display: inline-block;
  }
  li > a {
    width: 45px;
    height: 45px;
    @include transition(color 0.2s);
    display: inline-block;
    color: white;
    &:hover {
      color: #4da6ff;
    }
  }
}

a {
  color: #4da6ff;
}
a:hover {
  color: #4da6ff;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 250px;
}
